auto_evals/
venv/
__pycache__/
env
.ipynb_checkpoints
*ipynb
.vscode/
.idea/

eval-queue/
eval-results/
eval-queue-bk/
eval-results-bk/
logs/
output.log

cache


# additional:
llama_3.2_1b_instruct_model/
Llama3.1-elm-turbo-3B-instruct_model/
Phi-3.5-mini-instruct_model/
Qwen2.5-0.5B-Instruct_model/

src/kapital_evaluation/multiple_choice_w_dstype.py
test.py
test_copy.py
mmlu_a.py
mmlu_api.py
mmlu_own.py

hfvenv/
.env
.DS_Store


